---
import { projects } from "./projectslist.js";
---

<div class="projectsGrid">
  {
    projects.map((project) => (
      <div class="projectCard">
        <div class="projectImageContainer">
          {project.image && (
            <img
              src={project.image.src}
              alt={project.title}
              class="projectImage"
            />
          )}
          <div class="projectDetailsOverlay">
            <h3>{project.title}</h3>
            <p>{project.description}</p>
            {project.github && (
              <a
                href={project.github}
                target="_blank"
                rel="noopener noreferrer"
              >
                GitHub
              </a>
            )}
            {project.demo && (
              <a
                href={project.demo}
                target="_blank"
                rel="noopener noreferrer"
              >
                Live Demo
              </a>
            )}
          </div>
        </div>
      </div>
    ))
  }
</div>


<style>
.projectCard {
  color: white;
}

.projectsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}
h3 {
}

.projectImage {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.projectImageContainer {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}

.projectDetailsOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
  background: rgba(255, 255, 255, 0.5);
  color: black;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  backdrop-filter: blur(8px);
}
</style>
