---
import { projects } from "../Projects/projectslist";
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/pagination";

// Select Projects to show by ID
const selectedProjects = projects.filter((project) =>
  [1, 2, 3, 4, 5].includes(project.id)
);
---

<div class="home-slider" }>
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      {
        selectedProjects.map((project) => (
          <div class="swiper-slide">
            <div class="slider-container">
              <img
                src={project.image.src}
                alt={project.title}
                style={{
                  aspectRatio: "16 / 9",
                  objectFit: "cover",
                  width: "100%",
                }}
              />
              <div class="slider-text">
                <h3>
                  <a
                    href={project.github}
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    {project.title}
                    <span class="github-icon" />
                  </a>
                </h3>
                <p>{project.description}</p>
              </div>
            </div>
          </div>
        ))
      }
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>
</div>

<script>
  import Swiper from "swiper";
  import { Navigation, Pagination, Autoplay } from "swiper/modules";

  document.addEventListener("astro:page-load", () => {
    new Swiper(".mySwiper", {
      modules: [Navigation, Pagination, Autoplay],
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      breakpoints: {
        0: {
          slidesPerView: 1,
          spaceBetween: 20,
        },
        600: {
          slidesPerView: 2,
          spaceBetween: 10,
        },
        768: {
          slidesPerView: 3,
          spaceBetween: 30,
        },
      },
      loop: true,
      centeredSlides: true,
      autoplay: {
        delay: 5000,
        disableOnInteraction: false,
        pauseOnMouseEnter: true,
      },
    });
  });
</script>

<style>
  .swiper {
    --swiper-navigation-size: 4rem;
    padding: 0 2rem;
  }

  .slider-container {
    transition: margin-top 0.3s ease-in-out;
    height: clamp(25rem, 18.75rem + 16.6667vw, 30rem);
    max-width: 70vw;
    margin: 4rem auto;
  }
  img {
    border-radius: 10px;
  }
  .slider-text {
    position: relative;
    top: -3.7em;
    transition: top 0.2s ease-in-out;
    color: white;
    background-color: rgba(var(--color-2), 0.8);
    backdrop-filter: blur(5px);
    padding: 1.1em;
    padding-top: 0.05em;
    border-radius: 0 0 10px 10px;
    /* box-shadow: -2px 2px 8px var(--colhex-5); */
  }
  h3 {
    font-size: 1.25em;
    font-family: "Elms Sans", sans-serif;
  }
  p,
  a {
    font-size: 1em;
    display: none;
  }

  .slider-container:hover img,
  :global(.swiper-slide-active) .slider-container img {
    border-radius: 10px 10px 0 0;
  }
  .slider-container:hover .slider-text,
  .swiper-slide-active .slider-container .slider-text {
    top: 0;
  }
  .slider-container:hover .slider-text p,
  .slider-container:hover .slider-text a,
  .swiper-slide-active .slider-container .slider-text p,
  .swiper-slide-active .slider-container .slider-text a {
    display: flex;
  }

  a {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: white;
  }
  a:hover {
    color: var(--colhex-4);
    text-decoration: underline;
  }

  .github-icon {
    width: 1em;
    height: 1em;
    background-color: white;
    mask: url(https://cdn.simpleicons.org/github) no-repeat center / contain;
    -webkit-mask: url(https://cdn.simpleicons.org/github) no-repeat center /
      contain;
  }

  a:hover .github-icon {
    background-color: var(--colhex-4);
  }
  /*  Slider Navigation  */
  .swiper-button-prev,
  .swiper-button-next {
    background-color: var(--colhex-4);
    color: white;
    padding: 1rem;
    border-radius: 10px;
    margin: 0 2rem;
    box-shadow: -2px 2px 6px var(--colhex-5);
    transition: transform 0.1s linear;
  }

  .swiper-button-prev:hover,
  .swiper-button-next:hover {
    transform: scale(1.2);
  }
  .swiper-button-prev:active,
  .swiper-button-next:active {
    transform: scale(1);
  }

  @media (max-width: 600px) {
    .swiper-button-prev,
    .swiper-button-next {
      margin: 0;
    }
  }

  :global(.swiper-pagination-bullet) {
    background-color: white;
  }

  :global(.swiper-pagination-bullet-active) {
    background-color: var(--colhex-4);
  }
</style>
